body, html {
    margin: 0;
    padding: 0;
    background: whitesmoke;

}


#jumboTron {
    background: url("../img/jumboTron.jpg") 0% 63% no-repeat;
    background-size: cover;
    margin: 0;
}

.affix{
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}

.title {
    font-size: 3.5vw;
    color: cyan;
}

h1 {
    font-size:  10vw !important;
    color: brown !important;
    text-shadow: 3px 2px black;
}

#btnLoad {
    width: calc(50% - 2em);
    margin: auto;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: none;
    color:cyan;
}


#notSlider {
    margin-top: 2.5%;
    position: relative;
}

#myCarousel {
    margin-bottom: 4%;
    position: relative;
}

.carousel-inner > .item > a > img{
    margin: 0 auto;
}

.carousel-inner > .item > h3{
    text-align: center;
    margin-top: 5px;
}

.carousel-inner > .item{
    background-color: black;
}

#myCarousel h3{
    font-size: 41px;
    text-shadow: 1px 1px black;
    position: absolute;
    z-index: 20 !important;
    color: black;
    top: 0;
    width: 100%;
}

#notSlider img{ 
    border: solid 2px blue;
}

#noticias {
    float: left;
    width: calc(100% - 300px);
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#publicidad {
    float: right;
    width: 300px;
}

#publM{
    display:none;
}

.not {
    box-shadow: 0px 0px 6vw gray;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    border: solid 2px darkgray;
    overflow: hidden;
    position: relative;
}

.not img {
    padding: 0;
    margin: 0;
    width: 100%;
}


.footer {
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    background: skyblue;
    text-align: end;
    font-size: 30px;
}

.footer li {
    display: inline-block;
    list-style-type: none;
    margin: 4px;
    margin-right: 10px;
}

/*VERTICAL*/
@media screen and (max-width: 750px){

    #noticias {
        position: static;
        width: 100%;
    }

    .row {
        margin: -8px !important;
    }

    #publicidad {
        opacity: 0.6;
        height: 90px;
        width: 100%;
        position: static;
    }
    #btnLoad {
        width: 50%;
        margin: auto;
        align-content: center;
    }
    .publ {
        float: left;
        width: 50%;
        display:none;
    }
    #publM{
        display: block;
        text-align: center;
    }
}
